extends layout

block scripts
	script(src='/scripts/train.js')

block content
	h1= title
	
	div.trainer.posts
		ul
			each post in posts
				li(data-post=post.id).post
					p=post.message
					select
						option Classify as...
						option(value='/train/new?post=' + post.id) New FAQ
						option ----
						each q in questions
							option(value='/train/assign?post=' + post.id + '&question=' + q.id )=q.question
		a(href='#',id='ignore_all') Ignore all